/*=== GENERAL ===*/

@font-face {
  font-family: 'SEGOEUIL';
  src: local('SEGOEUIL'), url('../fonts/SEGOEUIL.ttf') format('truetype');
}

/*-- To make right white space in mobile --*/

/*=== GLOBAL ===*/

.title {
  color: white;
    text-shadow: 2px 2px 4px #000000;
 
}


.temp {
     color: white;
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;
}

body {
    background: url('https://images.unsplash.com/photo-1451188214936-ec16af5ca155?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=938&q=80&cs=tinysrgb');
}

.weather-group {
  opacity: 0;
}
  


